
html {
	--sans-serif: Rubik, Helvetica;
	--serif: Noto Serif Display, Old Standard TT, Times New Roman;

	
}
a {
	font-family: var(--sans-serif);
	font-weight: 500;
	letter-spacing: .06rem;
}


/* Main header or banner text or similar */
.screaming-voice {
	font-family: var(--marker);
	font-size: clamp(40px, 8vw, 125px);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -.045em;
	line-height: .8em;
}

/* Header text or similar */
.loud-voice {
	font-family: var(--sans-serif);
	font-size: 2rem;
	font-weight: 500;
}

/* Sub-header text or similar */
.attention-voice {
	font-family: var(--sans-serif);
	font-size: 1.5rem;
	font-weight: 500;
	/*line-height: 1.5rem;*/
}

.alert-voice {
	font-family: var(--sans-serif);
	font-size: 1.2rem;
	font-weight: 500;
}

/* Paragraph text or similar */
.normal-voice {
	font-family: var(--sans-serif);
	font-size: 1rem;
	/*line-height: 1.5rem;*/
}

/* Caption text or similar */
.intro-voice {
	font-family: var(--sans-serif);
	font-size: .9rem;
}

/* Caption text or similar */
.calm-voice {
	font-family: var(--sans-serif);
	font-size: .8rem;
}

/* Fine print text or similar */
.quiet-voice {
	font-family: var(--sans-serif);
	font-size: .6rem;
}


.title {
	font-family: var(--sans-serif);
	text-transform: uppercase;
	font-weight: 700;
	font-size: clamp(1.5rem, 5vw, 2rem);
}




