movie-card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 1px solid black;
	box-shadow: 0 0 2px 2px grey;
}

movie-card + movie-card {
	margin-top: 20px;
}

movie-card img {
	max-width: 200px;
}

movie-wrap {
	display: flex;
	gap: 20px;
}

movie-details {
	display: flex;
	flex-direction: column;
}